/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}


.spline {
  position: relative;
  margin: 0;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;

  /* @media (max-width: 1024px) {
    transform: translateX(200px);
    transform-origin: top;
  } */
  @media (max-width: 800px) {
    transform: scale(0.7) translateX(600px);
  }
  @media (max-width: 600px) {
    transform: scale(0.5) translateX(-100px);
    right: auto;
    left: 50%;
    margin-left: -600px;
  }
  @media (max-width: 375px) {
    transform: scale(0.45) translateX(-50px);
  }
}